@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .print-page {
    @apply bg-white shadow-none;
  }
}

@media print {
  body {
    @apply bg-white;
  }
  
  .no-print {
    display: none !important;
  }
  
  .print-page {
    box-shadow: none !important;
    page-break-after: always;
  }
}

